*{
  font-family: 'Varela Round', sans-serif;
}
header h1{
  text-align: center;
  
  color: #2c3e50;
  margin:0;
}

.red{
  color : red;
}

.shoesWaliList{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 15px;
}
.perShoeStyle{
  box-shadow: 2px 2px 2px grey;
  margin-bottom: 15px;
}
a  {
  text-decoration: none !important;
}

.loginForm{
  width: 500px;
  margin: auto;
  margin-top: 30px;
}

.user-name{
  color: white;
}

.thumb-profile{
  width:50px;
  height: 50px;
  border-radius: 50px;
  vertical-align: middle;
}

.cartWalaBtn{
  margin-left: 70px !important;
}